@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid blue; */
    width: 250px;
    margin: auto;
}

.main .timer-main{
    width: 240px;
    /* border: 2px solid red; */
    /* height: 260px; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.timer{
    /* border: 2px solid green; */
    width: 200px;
    height: 200px;
    margin: 10px 0 15px 0;
    border-radius: 50%;
    background-color: black;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;

}

#timer-text{
    color: white;
    font-size: 3em;
    font-weight: 400;
    letter-spacing: 2px;
}
.buttons{
    /* border: 2px solid yellow; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 3px;
    margin-bottom: 5px;
}
button{
    padding: 2px 10px;
    font-size: 1em;
    border: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 15px;
    margin: 2px 5px;
    font-weight: 400;
    box-shadow: 2px 2px 2px rgba(0,0,0,.5);
}
button:hover{
    color: white;
    background-color: rgba(0, 0, 0, .8);
    font-weight: 500;
}

.stop-start button{
    background-color: green;
    color: white;
}